section#banner
    background-image: url('../assets/images/foto_banner.jpg')
    background-repeat: no-repeat 
    background-position: center
    background-size: cover
    padding: 100px 0
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    color: brandWhite
    text-align: center

    h1 
        margin: 0
        font-size: 72pt
        line-height: 85pt
        font-weight: 700
        
        &::after
            content: ""
            width: 200px
            margin: 60px auto 0
            display: block
            height: 2px
            background-color: brandBlack
    h3
        margin: 80px 0
        font-size: 24pt
        line-height: 37pt
        text-transform: uppercase
        font-weight: 300

    a    
        color: brandWhite
        font-size: 16pt
        line-height: 16pt
        border-radius: 19px
        border: 2px solid brandWhite 
        padding: 10px 25px
        font-weight: 600
        text-decoration: none


    