header
    background-color: #fff
    position: fixed
    top: 0
    left: 0
    width: 100%
    
    .header-wrapper
        display: flex
        justify-content: space-between
        align-items: center

        a
            img 
                height: 30px

        nav 
            padding: 30px 0
            ul 
                display: flex
                text-align: center
                list-style-type: none
                padding: 0
                margin: 0
                li 
                    padding: 15px
                    a
                        font-size: 16pt
                        font-weight: 300
                        justify-content: space-between
                        color: brandBlack
                        text-decoration: none
                    img 
                        width: 20px
                        height 20px        



