section#inspiration
    background-color: brandWhite
    background-size: cover
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 80px 0

    h2
        margin: 0
        font-size: 36pt
        font-weight: 700 
        line-height: auto
      
        &::after
            content: ""
            width: 100px
            margin: 50px auto 0
            display: block
            height: 2px
            background-color: brandOrange 

.inspiration-wrapper
    background-color: brandOrange
    display: flex
    flex-direction: row
    justify-content: center
    flex-wrap: wrap

    

    .inspiration-item
        text-align: left
        width: 50% 
        
        
        
        h3 

            font-size: 24pt
            font-weight: 600
            line-height: auto
            text-transform: lowercase
                
        p 
            font-size: 16pt
            font-weight: 300
            line-height: 26pt

