section#product
    background-color: brandGray
    display: flex
    
    background-size: cover  
    
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 80px 0
    
    
        

.product-wrapper
    display: flex
    flex-wrap: wrap
    justify-content: center


    background-color: brandGray
    
    flex-direction: row
    
    text-align: center
    
    padding: 60px 0

    :hover
            color: brandOrange

    
    .product-item
        // display: flex
        // justify-content: center
        // flex-direction: column
        // flex-wrap: nowrap
        text-align: center
        padding: 20px
        width: 25%
        transition: color .2s ease 
        
        img 
            width: 130px

        h3 
            font-size: 24pt
            font-weight: 400
            line-height: auto
            text-transform: uppercase
                
        p 
            font-size: 16pt
            font-weight: 300
            line-height: 26pt
        
