*, *::before, *::after
    box-sizing: border-box

body
    margin: 0
    background-color: brandWhite
    font-family: 'Exo 2', sans-serif
    padding-top: 115px

    h1, h2, h3, h4, h5, h6
        margin: 0
    
    section.content-section
        padding: 80px 0
    
    
    h2.section-header
            font-size: 36pt
            font-weight: 600 
            line-height: auto
            text-transform: lowercase
            text-align: center
        
            &::after
                content: ""
                width: 140px
                margin: 40px auto 80px
                display: block
                height: 2px
                background-color: brandOrange 
    
    .container
        max-width: 1200px
        padding: 0 15px
        margin: 0 auto
        
        